main{
    margin-top:50px;
    flex-direction:column;
    max-width:327px;
    min-height:780px;
  }
  /*Obsolete___
  #d-pic{
    display:none;
  }
  #m-pic{
    display:block;
    order:-1;
  }
  */
  #poster{
    min-width:327px;
    order:-1;
    border-top-right-radius:inherit;
    border-top-left-radius:inherit;

    background:url(images/image-header-mobile.jpg);
    background-size: cover;
    
    background-color: hsl(278, 53%, 61%);
    background-blend-mode:multiply;
  }